<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/static/reset.css"> -->
    <link rel="stylesheet" href="/static/style.css">
    <title>Pegando input</title>
</head>
<body>
    {% block ontent %}
        {% if carga%}
            <h2>valor carga: {{carga}}</h2>
        {% else %}
            <form method="POST">
                {{form.hidden_tag()}}
                <h3>{{form.carga.label}}</h3>
                {{form.carga()}}
                <h3>{{form.comprimento.label}}</h3>
                {{form.comprimento()}}
                <h3>{{form.base.label}}</h3>
                {{form.base()}}
                <h3>{{form.altura.label}}</h3>
                {{form.altura()}}
                <h3>{{form.resistencia.label}}</h3>
                {{form.resistencia()}}
                <br>
                {{form.submit()}}
            </form>
        {% endif%}
    {% endblock %}
</body>
</html>